# Editor config is awesome: https://editorconfig.org/

# Top most .editorconfig file
root = true

# Default configuration for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

# Single quotation for .js files
[*.js]
quote_type = single

# Formatting for brackets
[*.{js,json}]
spaces_around_brackets = inside
indent_brace_style = K&R

# Formatting for indentation size
[*.{js,json,yml}]
indent_size = 2

# Markdown formatting
[*.md]
trim_trailing_whitespace = false

# Indentation formatting for Makefiles
[Makefile]
indent_style = tab
indent_size = 8
